{
  "extends": [
    "@wisersolutions",
    "@wisersolutions/eslint-config/react",
    "@wisersolutions/eslint-config/cypress"
  ],
  "overrides": [
    {
      "files": ["./cypress/**/*"],
      "rules": {
        "no-sparse-arrays": "off"
      }
    }
  ]
}